# Data
*.json
*.jsonl
*.html

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv

# Other
.pem
.db
.vscode
node_modules
metabase
BB.session.sql
log.txt
HuntApp/PerGameStats/lastgamehtml.txt
